{# src/AppBundle/Resources/views/Special/recommendations.html.twig #}
<div id="recommendation" class="pop-up-holder">
    <div class="inner">
        <span class="close icon-close"></span>
        <h2>{{ 'recommendations.title'|trans }}</h2>
        <ul>
            <li>
                <p>{{ 'recommendations.item.1'|trans }}</p>
            </li>
            <li>
                <p>{{ 'recommendations.item.2'|trans }}</p>
            </li>
            <li>
                <p>{{ 'recommendations.item.3'|trans }}</p>
            </li>
            <li>
                <p>{{ 'recommendations.item.4'|trans }}</p>
            </li>
            <li>
                <p>{{ 'recommendations.item.5'|trans }}</p>
            </li>
        </ul>
    </div>
</div>