{# app/Resources/TwigBundle/views/errorLayout.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{# Fast "_locale" hack for twig exception #}
{% set host = app.request.requestUri|split("/") %}
{% if host[1] in ['ua','en','ru'] %}
    {% set locale = host[1] %}
{% else %}
    {% set locale = 'ru' %}
{% endif %}

{% block title %}
    {{ exception.statusCode }} | {{ 'default.title'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/ravelCastIcons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/css/404.css') }}">
{% endblock %}

{% block body %}
    <div id="page" class="not-found-holder">
        <main id="content">
            <section class="section">
                {% block exception %}{% endblock %}
                {% block backlink %}
                    <div class="button">
                        <a href="{{ path('index', { '_locale': locale }) }}">
                            <span class="text">{{ 'error_state.link.home'|trans({}, "messages", locale) }}</span>
                            <span class="icon icon-home"></span>
                        </a>
                    </div>
                {% endblock %}
            </section>
            <div id="sine-wave-holder">
                <canvas id="sine-wave"></canvas>
            </div>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/app/assets/js/lib/sine.js') }}"></script>
    <script>
        $(function(){
            sineWave.initialize(true);
        });
    </script>
{% endblock %}